body {
  text-align: right;
  font-family: "DinNext";
}

/* Start showcase */
.showcase:after {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.showcase .showcase-content .showcase-title {
  font-size: 4rem;
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-desc {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-list li {
    padding-right: 20px;
  }
}

.showcase .showcase-content .showcase-list li i {
  margin-right: 0;
  margin-left: 6px;
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-list li {
    text-align: right;
  }
}

/* End showcase */
/* Start empathy pink */
.empathy .empathy-btn,
.empathy-blue .empathy-btn {
  text-align: left;
}

@media (max-width: 767px) {
  .empathy .empathy-btn,
  .empathy-blue .empathy-btn {
    text-align: center;
  }
}

/* End empathy pink */
/* Start Cards */
.cards .card-item .icon {
  margin-left: 0.9375rem;
  margin-right: 0;
}

@media (max-width: 767px) {
  .cards .card-item .icon {
    margin-left: 15px;
  }
}

/* End Cards */
/* Start tailored Plan */
.tailored-plan .left-content a {
  padding: 1.375rem 2.5rem 1.375rem 3.75rem;
}

@media (max-width: 767px) {
  .tailored-plan .left-content a {
    padding: 12px 30px 12px 55px;
  }
}

.tailored-plan .left-content a i {
  left: 30px;
  right: auto;
}

.tailored-plan .left-content a:hover i {
  left: 25px;
}

.tailored-plan .right-content .diet-plan .diet-plan-header h3 {
  margin-left: 0;
  margin-right: 5px;
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows {
  position: absolute;
  top: 0;
  right: auto;
  left: 80px;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-plan-header .arrows {
    right: auto;
    left: 10px;
    top: -10px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .tailored-plan .right-content .diet-plan .diet-plan-header .arrows {
    right: auto;
    left: 180px;
  }
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.active {
    -webkit-transform: scale(0.8) translate(0) !important;
            transform: scale(0.8) translate(0) !important;
    z-index: 10 !important;
  }
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.one {
    -webkit-transform: scale(0.8) translate(0);
            transform: scale(0.8) translate(0);
  }
}

.tailored-plan .right-content .diet-plan .diet-slider .diet.two {
  -webkit-transform: scale(0.9) translate(-70px);
          transform: scale(0.9) translate(-70px);
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.two {
    -webkit-transform: scale(0.7) translate(-45px);
            transform: scale(0.7) translate(-45px);
  }
}

.tailored-plan .right-content .diet-plan .diet-slider .diet.three {
  -webkit-transform: scale(0.8) translate(-145px);
          transform: scale(0.8) translate(-145px);
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.three {
    -webkit-transform: scale(0.6) translate(-100px);
            transform: scale(0.6) translate(-100px);
  }
}

/* End tailored Plan */
/* Start Keep Tracking */
@media (max-width: 767px) {
  .keep-tracking .keep-tracking-content img {
    margin-left: 0;
    margin-right: -15px;
  }
}

@media (max-width: 767px) {
  .keep-tracking .keep-tracking-img .iphone {
    left: 65.5%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .keep-tracking .keep-tracking-img .iphone {
    left: 0;
    right: 30px;
  }
}

/* End Keep Tracking */
/* Start on The Medi */
.on-the-media p {
  text-align: right;
}

/* End on The Medi */
/* Start prices */
.prices .price-plan .features {
  padding-left: 0;
  padding-right: 30px;
}

.prices .price-plan .features li {
  text-align: right;
}

.prices .price-plan .features li i {
  margin-right: 0;
  margin-left: 10px;
}

/* End prices */
/* Start Ideal Body Weight */
.body-weight .triangle {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
}

@media (max-width: 992px) {
  .body-weight .triangle {
    -webkit-transform: translatex(40%) rotate(90deg);
            transform: translatex(40%) rotate(90deg);
    left: auto;
    right: 50%;
  }
}

.body-weight .instadiet-analysis .front h3 img {
  margin: 16px 32px 16px 8px;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar span {
  float: right;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .one {
  border-radius: 0 5px 5px 0;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .five {
  border-radius: 5px 0 0 5px;
}

.body-weight .instadiet-analysis .front .bmi .indicator {
  right: auto;
  left: 20%;
}

.body-weight .instadiet-analysis .front .bmi .indicator:before {
  right: auto;
  left: 60%;
}

.body-weight .instadiet-analysis .front .bmi .indicator:after {
  right: auto;
  left: 36%;
  text-align: left;
  background-position: 40px center;
}

.body-weight .instadiet-analysis .front .tips {
  padding-left: 0;
  padding-right: 50px;
}

.body-weight .instadiet-analysis .front .tips ul li {
  padding-left: 0;
  padding-right: 23px;
}

.body-weight .instadiet-analysis .front .tips ul li:before {
  left: auto;
  right: 0;
}

.body-weight .instadiet-analysis .front .tips ul li img {
  margin-right: 0;
  margin-left: 6px;
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .front .tips .tips-btn #convertToForm {
    width: 65%;
  }
}

/* End Ideal Body Weight */
/* Start FAQ */
#faq .faq-left-side li h3,
#faq .faq-right-side li h3 {
  padding-left: 0;
  padding-right: 1.5rem;
}

#faq .faq-left-side li h3:before,
#faq .faq-right-side li h3:before {
  left: auto;
  right: 0;
}

/* End FAQ */
/* Start Footer */
@media (max-width: 767px) {
  #main-footer {
    text-align: right;
  }
}

#main-footer .contact li:nth-child(1) img {
  margin-right: 0;
  margin-left: 10px;
}

#main-footer .contact li:nth-child(2) img {
  right: 0;
  left: 5px;
}

#main-footer .contact li:nth-child(2) a {
  margin-right: 0px;
}

#main-footer .contact li.location img {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

@media (max-width: 767px) {
  #main-footer .contact li.location img {
    padding-top: 10px;
  }
}

#main-footer .contact li.location p {
  float: right;
}

@media (max-width: 767px) {
  #main-footer .contact li.location p {
    text-align: right;
  }
}

#main-footer form {
  padding-left: 0;
  padding-right: 1.5rem;
}

@media (min-width: 993px) and (max-width: 1200px) {
  #main-footer form {
    padding-right: 0.625rem;
  }
}

#main-footer form button[type="submit"] {
  float: left;
}

#main-footer .social-icons li:not(:last-child) {
  margin-right: 0;
  margin-left: 0.9375rem;
}

#main-footer .copyright p {
  text-align: left;
}

@media (max-width: 767px) {
  #main-footer .copyright p {
    text-align: center;
  }
}

/* End Footer */
@media (max-width: 992px) {
  .scroll-top {
    left: auto;
    right: 50%;
    bottom: 105px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .scroll-top {
    bottom: 70px;
  }
}
/*# sourceMappingURL=style-rtl.css.map */