@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
@font-face {
  font-family: "DinNext";
  src: url(../fonts/DinNext.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow-x: hidden;
}

html.overlay {
  overflow: hidden;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  overflow: hidden;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
    position: relative;
  }
}

button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.primary-btn {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  background: #ef5fa2;
  border-radius: 5px;
  color: #ffffff !important;
  border: 0;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 1.375rem 3.75rem 1.375rem 2.5rem;
}

@media (max-width: 1366px) {
  .primary-btn {
    padding: 0.9375rem 3.125rem 0.9375rem 2.1875rem;
    font-size: 16px;
  }
}

.primary-btn:hover {
  background-color: #ed4895;
}

.primary-btn:hover i {
  right: 25px;
}

.primary-btn i {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.heading {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #2A338F;
}

@media (max-width: 767px) {
  .heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* Start Header */
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 0px 8px 18px rgba(206, 208, 224, 0.25);
          box-shadow: 0px 8px 18px rgba(206, 208, 224, 0.25);
}

@media (max-width: 767px) {
  header {
    position: absolute;
  }
}

header .navbar {
  padding: 0.9375rem 0;
}

header .navbar .navbar-brand {
  margin-right: 0;
}

@media (max-width: 1366px) {
  header .navbar {
    padding: 0.9375rem 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header .navbar {
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  header .navbar.navbar-expand-lg > .container {
    padding: 0 20px;
  }
  header .navbar .navbar-brand {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header .navbar .navbar-collapse {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-box-shadow: 0px 8px 18px inset rgba(206, 208, 224, 0.25);
            box-shadow: 0px 8px 18px inset rgba(206, 208, 224, 0.25);
    margin: 20px -20px 0;
    padding: 20px 20px 0;
  }
}

header .navbar .the-button {
  display: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

@media (max-width: 992px) {
  header .navbar .the-button {
    display: block;
    background: none;
    border: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media (max-width: 767px) {
  header .navbar .the-button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

header .navbar .the-button .the-line {
  display: block;
  height: 2px;
  background-color: #595A6E;
  width: 24px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .navbar .transformed .the-line:first-child {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
          transform: rotate(-45deg) translate(-4px, 6px);
  width: 75%;
}

header .navbar .transformed .the-line:nth-child(2) {
  opacity: 0;
}

header .navbar .transformed .the-line:last-child {
  -webkit-transform: rotate(45deg) translate(-4px, -6px);
          transform: rotate(45deg) translate(-4px, -6px);
  width: 75%;
}

@media (min-width: 768px) and (max-width: 992px) {
  header .navbar-nav {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
  }
}

header .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  line-height: 16px;
  color: #656678;
  padding: 12px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

@media (max-width: 767px) {
  header .navbar-nav .nav-item .nav-link {
    padding-left: 5px !important;
  }
}

header .navbar-nav .nav-item .nav-link .arabic {
  font-family: "DinNext";
}

header .navbar-nav .nav-item .nav-link.sign-in {
  padding-left: 2rem;
  padding-right: 1.4rem;
}

@media (max-width: 767px) {
  header .navbar-nav .nav-item .nav-link.sign-in {
    border-top: 1px solid #DADAE0;
    margin: 15px -20px 0;
    padding-left: 25px !important;
    padding-top: 25px;
  }
}

header .start-diet {
  background-color: #ef5fa2;
  border-radius: 3px;
  padding: 0.625rem 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 767px) {
  header .start-diet {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

header .start-diet:hover {
  background-color: #ed4895;
}

header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:hover {
  color: #ef5fa2;
}

/* End Header */
.call-to-action {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 8px 18px rgba(206, 208, 224, 0.25);
          box-shadow: 0px 8px 18px rgba(206, 208, 224, 0.25);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.call-to-action .start-diet {
  background-color: #ef5fa2;
  border-radius: 3px;
  padding: 0.625rem 1.5rem;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 767px) {
  .call-to-action .start-diet {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.call-to-action .start-diet:hover {
  background-color: #ed4895;
}

/* Start showcase */
.showcase {
  overflow: hidden;
  background-color: #f6f7f9;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 80px;
}

.showcase:after {
  content: "";
  position: absolute;
  background: url(../imgs/instadiet-bg.jpg) center center no-repeat/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .showcase:after {
    background-position-x: 30%;
  }
}

@media (max-width: 767px) {
  .showcase:after {
    background: none;
  }
}

@media (max-width: 767px) {
  .showcase {
    padding-top: 9rem;
    position: relative;
    text-align: center;
  }
  .showcase .showcase-bg {
    position: absolute;
    top: -270px;
    left: -190px;
  }
  .showcase .container {
    padding: 0 20px;
  }
}

.showcase .showcase-content {
  height: 50vh;
  position: relative;
  z-index: 3;
}

.showcase .showcase-content .showcase-title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.3;
  color: #2A338F;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-title {
    margin-bottom: 0.5rem;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
  }
}

.showcase .showcase-content .showcase-desc {
  font-size: 18px;
  line-height: 24px;
  color: #9d9eae;
  margin-bottom: 2rem;
  width: 80%;
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-desc {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    margin: 0 auto 1.5rem;
  }
}

.showcase .showcase-content .showcase-list {
  margin-bottom: 30px;
}

.showcase .showcase-content .showcase-list li {
  line-height: 1.8;
  color: #9D9EAE;
}

@media (max-width: 767px) {
  .showcase .showcase-content .showcase-list li {
    text-align: left;
  }
}

.showcase .showcase-content .showcase-list li i {
  color: #ef5fa2;
  margin-right: 6px;
}

/* End showcase */
/* Start empathy pink */
.empathy,
.empathy-blue {
  background-color: #ef5fa2;
  padding: 50px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .empathy,
  .empathy-blue {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .empathy,
  .empathy-blue {
    padding: 30px 0;
  }
}

.empathy .row,
.empathy-blue .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empathy .empathy-content,
.empathy-blue .empathy-content {
  color: #fff;
}

.empathy .empathy-content h2,
.empathy-blue .empathy-content h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 992px) {
  .empathy .empathy-content h2,
  .empathy-blue .empathy-content h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.3;
  }
}

@media (max-width: 767px) {
  .empathy .empathy-content h2,
  .empathy-blue .empathy-content h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
  }
}

.empathy .empathy-content p,
.empathy-blue .empathy-content p {
  line-height: 1.7;
  color: #f2f2f2;
}

@media (max-width: 767px) {
  .empathy .empathy-content p,
  .empathy-blue .empathy-content p {
    font-size: 15px;
  }
}

.empathy .empathy-btn,
.empathy-blue .empathy-btn {
  text-align: right;
}

@media (max-width: 767px) {
  .empathy .empathy-btn,
  .empathy-blue .empathy-btn {
    text-align: center;
    margin-top: 20px;
  }
}

.empathy .empathy-btn button,
.empathy-blue .empathy-btn button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 40px;
  text-transform: capitalize;
}

@media (min-width: 768px) and (max-width: 992px) {
  .empathy .empathy-btn button,
  .empathy-blue .empathy-btn button {
    padding: 10px 30px;
  }
}

/* End empathy pink */
/* Start empathy blue */
.empathy-blue {
  background-color: #2A338F;
}

/* End empathy blue */
/* Start Cards */
.cards {
  background-color: #F7F8FC;
  padding: 50px 0;
  border-top: 1px solid #F0F0F5;
}

@media (max-width: 767px) {
  .cards {
    margin-top: 0;
    padding: 30px 0 18px;
  }
  .cards .container {
    padding: 0 20px;
  }
}

.cards .card-item {
  padding: 20px 40px;
  background: #FEFEFE;
  border: 1px solid #E4E5F0;
  -webkit-box-shadow: 0rem 0.5rem 0.9375rem rgba(213, 215, 232, 0.3);
          box-shadow: 0rem 0.5rem 0.9375rem rgba(213, 215, 232, 0.3);
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .cards .card-item {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .cards .card-item {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 20px;
  }
}

.cards .card-item .icon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #EBEBF0;
  margin-right: 0.9375rem;
  text-align: center;
  line-height: 4.5rem;
}

@media (max-width: 767px) {
  .cards .card-item .icon {
    margin-left: 0;
  }
}

.cards .card-item p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #595A6E;
  width: 55%;
}

@media (max-width: 767px) {
  .cards .card-item p {
    width: 69%;
  }
}

/* End Cards */
/* Start tailored Plan */
.tailored-plan {
  padding: 100px 0 170px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .tailored-plan {
    padding: 100px 0;
  }
}

@media (max-width: 767px) {
  .tailored-plan {
    border-top: 1px solid #F5F5FA;
    padding-bottom: 60px;
    padding-top: 0;
  }
  .tailored-plan .container {
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .tailored-plan .left-content {
    padding-left: 10px;
    padding-right: 7px;
  }
}

.tailored-plan .left-content h2 {
  margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
  .tailored-plan .left-content h2 {
    margin-bottom: 0.875rem;
  }
}

.tailored-plan .left-content h2 span {
  color: #ef5fa2;
}

.tailored-plan .left-content h3 {
  color: #2A338F;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.tailored-plan .left-content p {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #9D9EAE;
  margin-bottom: 2.5rem;
  width: 81%;
}

@media (max-width: 767px) {
  .tailored-plan .left-content p {
    width: 100%;
    font-size: 0.875rem;
    line-height: 24px;
  }
}

.tailored-plan .left-content a {
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 767px) {
  .tailored-plan .left-content a {
    padding: 12px 55px 12px 30px;
  }
}

@media (max-width: 992px) {
  .tailored-plan .right-content {
    padding-top: 3.75rem;
  }
}

.tailored-plan .right-content .diet-plan .diet-plan-header {
  position: relative;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-plan-header {
    padding: 0 30px;
    margin-bottom: -40px;
    position: relative;
    z-index: 5;
  }
}

.tailored-plan .right-content .diet-plan .diet-plan-header h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1rem;
  color: #656678;
  margin-left: 0.3125rem;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-plan-header h3 {
    font-size: 0.875rem;
  }
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows {
  position: absolute;
  top: 0;
  right: 80px;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-plan-header .arrows {
    right: 35px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows button {
  background: transparent;
  border: 0;
  margin: 0 10px;
  height: 20px;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-plan-header .arrows button {
    margin: 0 5px;
    height: 30px;
    width: 30px;
    text-align: center;
  }
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows button:hover span {
  background-color: #ef5fa2;
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows button:hover span:before, .tailored-plan .right-content .diet-plan .diet-plan-header .arrows button:hover span:after {
  background-color: #ef5fa2;
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .left-arrow,
.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow {
  width: 20px;
  height: 2px;
  background-color: #c0c0c0;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .left-arrow:before, .tailored-plan .right-content .diet-plan .diet-plan-header .arrows .left-arrow:after,
.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow:before,
.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow:after {
  content: "";
  background: #c0c0c0;
  position: absolute;
  height: 2px;
  width: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .left-arrow:before,
.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow:before {
  left: -3px;
  bottom: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .left-arrow:after,
.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow:after {
  left: -3px;
  top: -3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow:before {
  left: 13px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.tailored-plan .right-content .diet-plan .diet-plan-header .arrows .right-arrow:after {
  left: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tailored-plan .right-content .diet-plan .diet-slider {
  position: relative;
  min-height: 524px;
  z-index: 1;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider {
    min-height: 540px;
  }
}

.tailored-plan .right-content .diet-plan .diet-slider .diet {
  position: absolute;
  cursor: pointer;
  top: 24px;
  -webkit-box-shadow: 0px 68px 121px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 68px 121px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tailored-plan .right-content .diet-plan .diet-slider .diet.active {
  -webkit-transform: scale(1) translate(0) !important;
          transform: scale(1) translate(0) !important;
  z-index: 10 !important;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.active {
    -webkit-transform: scale(0.8) translate(0) !important;
            transform: scale(0.8) translate(0) !important;
    z-index: 10 !important;
  }
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.one {
    -webkit-transform: scale(0.8) translate(0);
            transform: scale(0.8) translate(0);
  }
}

.tailored-plan .right-content .diet-plan .diet-slider .diet.two {
  -webkit-transform: scale(0.9) translate(70px);
          transform: scale(0.9) translate(70px);
  z-index: 2;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.two {
    -webkit-transform: scale(0.7) translate(45px);
            transform: scale(0.7) translate(45px);
  }
}

.tailored-plan .right-content .diet-plan .diet-slider .diet.three {
  -webkit-transform: scale(0.8) translate(145px);
          transform: scale(0.8) translate(145px);
  z-index: 1;
}

@media (max-width: 767px) {
  .tailored-plan .right-content .diet-plan .diet-slider .diet.three {
    -webkit-transform: scale(0.6) translate(100px);
            transform: scale(0.6) translate(100px);
  }
}

/* End tailored Plan */
/* Start Keep Tracking */
.keep-tracking {
  background: url(../imgs/keep-tracking-bg.png) no-repeat center center/cover;
}

@media (max-width: 767px) {
  .keep-tracking {
    background: url(../imgs/keep-tracking-bg-m.png) no-repeat center top/cover;
  }
}

.keep-tracking .keep-tracking-content {
  position: relative;
  z-index: 2;
}

.keep-tracking .keep-tracking-content img {
  margin-top: 130px;
  margin-bottom: 26px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .keep-tracking .keep-tracking-content img {
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .keep-tracking .keep-tracking-content img {
    margin-top: 60px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: -15px;
    margin-bottom: 15px;
  }
}

.keep-tracking .keep-tracking-content p {
  font-size: 16px;
  line-height: 28px;
  color: #595A6E;
  margin-top: 22px;
  margin-bottom: 130px;
  width: 60%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .keep-tracking .keep-tracking-content p {
    width: 100%;
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .keep-tracking .keep-tracking-content p {
    font-size: 14px;
    line-height: 24px;
    width: 90%;
    margin-top: 12px;
    margin-bottom: 25px;
  }
}

.keep-tracking .keep-tracking-img {
  position: relative;
}

@media (max-width: 767px) {
  .keep-tracking .keep-tracking-img {
    height: 475px;
  }
}

.keep-tracking .keep-tracking-img .iphone {
  position: absolute;
  z-index: 1;
  left: -750px;
  top: -160px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media (min-width: 768px) and (max-width: 992px) {
  .keep-tracking .keep-tracking-img .iphone {
    top: -148px;
    left: 30px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 767px) {
  .keep-tracking .keep-tracking-img .iphone {
    top: -50px;
    left: 48.5%;
    -webkit-transform: scale(0.95) translateX(-50%);
            transform: scale(0.95) translateX(-50%);
    position: relative;
  }
  .keep-tracking .keep-tracking-img .iphone:before {
    content: "";
    background-image: url(../imgs/spark.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}

/* End Keep Tracking */
/* Start on The Medi */
.on-the-media {
  padding: 45px 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .on-the-media {
    padding: 30px 0;
    background-color: #f4f4f45c;
  }
}

.on-the-media p {
  text-align: left;
  width: 70%;
  margin: auto;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9d9eae;
}

@media (min-width: 768px) and (max-width: 992px) {
  .on-the-media p {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.on-the-media .media-channel {
  border: 1px solid #f2f3fa;
  border-radius: 5px;
  height: 5.5rem;
  width: 70%;
  margin: auto;
  line-height: 5.5rem;
  text-align: center;
}

@media (max-width: 767px) {
  .on-the-media .media-channel {
    border: 0;
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .on-the-media .media-channel {
    height: 5rem;
    line-height: 5rem;
  }
}

/* End on The Medi */
/* Start prices */
.prices {
  background: url(../imgs/prices-bg.png) center center no-repeat/cover;
  position: relative;
  padding: 100px 0;
}

@media (max-width: 767px) {
  .prices {
    padding: 60px 0;
  }
}

.prices:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 15, 60, 0.7);
}

.prices .price-plan {
  position: relative;
  z-index: 2;
  width: 60%;
  margin: auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .prices .price-plan {
    margin-top: 50px;
    width: 90%;
    padding: 30px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .prices .price-plan {
    width: 70%;
    padding: 30px;
  }
}

.prices .price-plan h3 {
  font-size: 24px;
  color: #6e6e6e;
}

.prices .price-plan .price-item {
  position: relative;
}

.prices .price-plan .price-item .price {
  font-size: 60px;
  color: #6e6e6e;
  font-weight: bold;
}

.prices .price-plan .price-item .dollar {
  color: #6e6e6e;
  position: absolute;
  top: 15px;
  left: 30%;
  font-size: 20px;
}

.prices .price-plan .long {
  font-size: 15px;
  color: #777;
  margin-bottom: 15px;
}

.prices .price-plan .features {
  text-align: center;
  padding-left: 30px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .prices .price-plan .features {
    padding-left: 0;
  }
}

.prices .price-plan .features li {
  color: #999;
  text-align: left;
}

@media (max-width: 992px) {
  .prices .price-plan .features li {
    text-align: center;
  }
}

.prices .price-plan .features li i {
  color: #ef5fa2;
  margin-right: 10px;
  font-size: 13px;
}

.prices .price-plan button {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.prices .price-content {
  position: relative;
  z-index: 3;
  color: #fff;
}

@media (max-width: 767px) {
  .prices .price-content .price-content-img {
    text-align: center;
  }
  .prices .price-content .price-content-img img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.prices .price-content h2 {
  color: #f4f4f4;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  line-height: 1.5;
}

@media (max-width: 992px) {
  .prices .price-content h2 {
    width: 100%;
    line-height: 1.4;
    font-weight: 500;
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .prices .price-content h2 {
    font-size: 20px;
  }
}

.prices .price-content .price-desc {
  border: 1px solid #ccc;
  padding: 10px;
}

@media (max-width: 767px) {
  .prices .price-content .price-desc {
    font-size: 15px;
    color: #eeee;
  }
}

.prices .price-content .price-desc + p {
  margin-top: 30px;
}

@media (max-width: 992px) {
  .prices .price-content .price-desc + p {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .prices .price-content .price-desc + p {
    font-size: 15px;
    color: #eeee;
  }
  .prices .price-content .price-desc + p span {
    color: #fff;
  }
}

.prices .price-content .price-desc + p span {
  font-weight: bold;
}

/* End prices */
/* Start Ideal Body Weight */
.body-weight {
  padding: 140px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#F5F5FA), to(rgba(245, 245, 250, 0)));
  background: linear-gradient(360deg, #F5F5FA 0%, rgba(245, 245, 250, 0) 100%);
  border-top: 1px solid #F0F0F5;
}

@media (max-width: 1366px) {
  .body-weight {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .body-weight {
    background: #F7F8FC;
    padding: 60px 0;
  }
  .body-weight .container {
    padding: 0 30px;
  }
  .body-weight .container .width,
  .body-weight .container .height {
    margin-bottom: 30px;
  }
}

.body-weight h2 {
  margin-bottom: 46px;
}

@media (max-width: 767px) {
  .body-weight h2 {
    margin-bottom: 35px;
  }
}

.body-weight .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  .body-weight .triangle {
    position: relative;
    top: 30px;
    -webkit-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .body-weight .triangle {
    top: 0;
  }
}

.body-weight .instadiet-analysis {
  position: relative;
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .body-weight .instadiet-analysis {
    height: 510px;
    margin-top: 50px;
    width: 500px;
    margin: 50px auto 0;
  }
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis {
    height: 500px;
  }
}

.body-weight .instadiet-analysis > div {
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: 100%;
}

.body-weight .instadiet-analysis .front {
  background-color: #FFFFFF;
  border-radius: 8px;
  z-index: 3;
}

.body-weight .instadiet-analysis .front h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #0C0E2A;
}

.body-weight .instadiet-analysis .front h3 img {
  margin: 16px 8px 16px 32px;
}

.body-weight .instadiet-analysis .front .bmi {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  position: relative;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar {
  margin: 0 32px;
  height: 10px;
  border-radius: 5px;
  padding: 82px 0 71px 0;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .front .bmi .bmi-bar {
    padding: 70px 0 65px 0;
  }
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar span {
  width: 20%;
  height: 10px;
  float: left;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .one {
  background: #2A338F;
  opacity: 0.4;
  border-radius: 5px 0px 0px 5px;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .two {
  background: #2A338F;
  opacity: 0.7;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .three {
  background: #2A338F;
  opacity: 0.8;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .four {
  background: #2A338F;
  opacity: 0.9;
}

.body-weight .instadiet-analysis .front .bmi .bmi-bar .five {
  background: #2A338F;
  border-radius: 0px 5px 5px 0px;
}

.body-weight .instadiet-analysis .front .bmi .indicator {
  position: absolute;
  bottom: 25px;
  right: 20%;
}

.body-weight .instadiet-analysis .front .bmi .indicator:before {
  content: "";
  height: 50px;
  width: 2px;
  position: absolute;
  background-color: #ef5fa2;
  top: -53px;
  right: 60%;
}

.body-weight .instadiet-analysis .front .bmi .indicator:after {
  content: "You";
  height: 32px;
  width: 63px;
  position: absolute;
  background-color: #ef5fa2;
  border-radius: 212px;
  top: -85px;
  right: 36%;
  color: #fff;
  text-align: right;
  line-height: 32px;
  background-image: url(../imgs/woman.svg);
  background-repeat: no-repeat;
  background-position: 9px center;
  padding: 0 9px;
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .front .bmi .indicator:after {
    font-size: 13px;
    padding: 0 12px;
    background-position: 12px center;
  }
}

.body-weight .instadiet-analysis .front .bmi .indicator p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #2A338F;
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .front .bmi .indicator p {
    font-size: 14px;
  }
}

.body-weight .instadiet-analysis .front .bmi .indicator p span {
  font-weight: 600;
}

.body-weight .instadiet-analysis .front .tips {
  padding-top: 26px;
  padding-left: 50px;
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .front .tips {
    padding: 20px;
  }
  .body-weight .instadiet-analysis .front .tips button {
    font-size: 14px;
  }
}

.body-weight .instadiet-analysis .front .tips p {
  font-size: 13px;
  line-height: 18px;
  color: #0C0E2A;
  width: 60%;
  margin-bottom: 20px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .front .tips p {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .body-weight .instadiet-analysis .front .tips p {
    width: 85%;
  }
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .front .tips p {
    width: 100%;
  }
}

.body-weight .instadiet-analysis .front .tips p span {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #EF5FA2;
}

.body-weight .instadiet-analysis .front .tips ul {
  margin-bottom: 28px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .front .tips ul {
    margin-bottom: 15px;
  }
}

.body-weight .instadiet-analysis .front .tips ul li {
  font-size: 13px;
  line-height: 18px;
  color: #808191;
  position: relative;
  padding-left: 23px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .front .tips ul li {
    line-height: 13px;
  }
}

.body-weight .instadiet-analysis .front .tips ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../imgs/check-green.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.body-weight .instadiet-analysis .front .tips ul li:not(:last-child) {
  margin-bottom: 8px;
}

.body-weight .instadiet-analysis .front .tips ul li img {
  margin-right: 6px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .front .tips .tips-btn {
    text-align: center;
    margin-left: -50px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .front .tips .tips-btn #convertToForm {
    padding: 10px 30px;
  }
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .front .tips .tips-btn #convertToForm {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.body-weight .instadiet-analysis .back {
  background-color: #fff;
  color: #2A338F;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 30px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .back {
    padding: 15px 20px;
  }
}

.body-weight .instadiet-analysis .back h2 {
  margin-bottom: 20px;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .back h2 {
    margin-bottom: 10px;
    font-size: 25px;
  }
}

.body-weight .instadiet-analysis .back label {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #595A6E;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .back label {
    line-height: 20px;
  }
}

.body-weight .instadiet-analysis .back .form-control {
  border: 1px solid #E4E5F0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 32px;
  height: auto;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .body-weight .instadiet-analysis .back .form-control {
    padding: 10px 30px;
  }
}

@media (max-width: 767px) {
  .body-weight .instadiet-analysis .back .form-control {
    padding: 18px 28px;
  }
}

/* End Ideal Body Weight */
/* Start FAQ */
#faq {
  padding-top: 6.25rem;
  padding-bottom: 4.6875rem;
  border-top: 1px solid #F0F0F5;
}

@media (max-width: 767px) {
  #faq {
    padding: 60px 0;
  }
}

#faq h2 {
  margin-bottom: 3.125rem;
}

@media (max-width: 767px) {
  #faq h2 {
    margin-bottom: 2rem;
  }
}

#faq .faq-left-side li,
#faq .faq-right-side li {
  margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
  #faq .faq-left-side li,
  #faq .faq-right-side li {
    margin-bottom: 2.5rem;
  }
}

#faq .faq-left-side li h3,
#faq .faq-right-side li h3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #0C0E2A;
  position: relative;
  margin-bottom: 0.625rem;
  padding-left: 1.5rem;
}

#faq .faq-left-side li h3:before,
#faq .faq-right-side li h3:before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0;
  background-color: #ef5fa2;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

#faq .faq-left-side li p,
#faq .faq-right-side li p {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #9D9EAE;
  width: 85%;
}

@media (max-width: 767px) {
  #faq .faq-left-side li p,
  #faq .faq-right-side li p {
    width: 100%;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  #faq .faq-right-side li:last-child {
    margin-bottom: 0;
  }
}

/* End FAQ */
/* Start Footer */
#main-footer {
  position: relative;
}

@media (max-width: 767px) {
  #main-footer {
    text-align: left;
    padding-bottom: 30px;
  }
}

#main-footer .container {
  position: relative;
}

@media (min-width: 768px) and (max-width: 992px) {
  #main-footer .policy,
  #main-footer .links {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  #main-footer .policy,
  #main-footer .links,
  #main-footer .contact {
    margin-bottom: 40px;
  }
}

#main-footer .policy li,
#main-footer .links li,
#main-footer .contact li {
  font-size: 0.875rem;
  line-height: 2.1875rem;
}

#main-footer .policy li a,
#main-footer .links li a,
#main-footer .contact li a {
  color: #595A6E;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#main-footer .policy li a:hover,
#main-footer .links li a:hover,
#main-footer .contact li a:hover {
  color: #ef5fa2;
}

#main-footer .contact li {
  line-height: 2.875rem;
}

#main-footer .contact li:nth-child(1) img {
  margin-right: 10px;
}

#main-footer .contact li img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

#main-footer .contact li:nth-child(2) img {
  position: relative;
  right: 5px;
}

#main-footer .contact li:nth-child(2) a {
  margin-left: 0px;
}

#main-footer .contact li.location {
  overflow: hidden;
}

#main-footer .contact li.location img {
  float: left;
  margin-right: 15px;
  margin-bottom: 40px;
}

#main-footer .contact li.location p {
  float: left;
  color: #595A6E;
  line-height: 1.7;
  width: 65%;
}

@media (max-width: 767px) {
  #main-footer .contact li.location p {
    width: 75%;
    text-align: left;
    position: relative;
    top: 7px;
  }
}

#main-footer .newsletter {
  text-align: center;
}

#main-footer .newsletter p {
  font-size: 0.875rem;
  line-height: 2.1875rem;
  color: #595A6E;
}

#main-footer form {
  background: #FEFEFE;
  border: 1px solid #E4E5F0;
  -webkit-box-shadow: 0px 8px 8px rgba(213, 215, 232, 0.25);
          box-shadow: 0px 8px 8px rgba(213, 215, 232, 0.25);
  border-radius: 5px;
  padding: 10px;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  #main-footer form {
    margin: 7px auto 15px;
    width: 80%;
  }
}

#main-footer form input[type="email"] {
  border: 0;
  font-size: 13px;
  line-height: 28px;
  outline: none;
  width: 60%;
}

#main-footer form input[type="email"]::-webkit-input-placeholder {
  color: #595A6E;
}

#main-footer form input[type="email"]:focus::-webkit-input-placeholder {
  opacity: 0.4;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

#main-footer form button[type="submit"] {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #ef5fa2;
  width: 38%;
  float: right;
  line-height: 28px;
}

#main-footer .social-icons li:not(:last-child) {
  margin-right: 0.9375rem;
}

#main-footer .social-icons li a {
  color: #808191;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#main-footer .social-icons li a:hover {
  color: #ef5fa2;
}

#main-footer .copyright {
  margin-top: 2.5rem;
  border-top: 1px solid #f0f0f5;
  padding-top: 1.6875rem;
  padding-bottom: 1.875rem;
}

@media (max-width: 1366px) {
  #main-footer .copyright {
    margin-top: 2.5rem;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 767px) {
  #main-footer .copyright {
    margin-top: 50px;
    padding-bottom: 0;
    padding-top: 2.5rem;
    text-align: center;
  }
}

#main-footer .copyright p {
  text-align: right;
  font-size: 0.8125rem;
  line-height: 2.1875rem;
  color: #595A6E;
}

@media (max-width: 767px) {
  #main-footer .copyright p {
    text-align: center;
  }
}

/* End Footer */
/* Start Scroll-To-Top */
.scroll-top {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 2.5rem;
  right: 10px;
  border: 1px solid #777;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
  z-index: 9999;
  display: none;
}

@media (max-width: 1366px) {
  .scroll-top {
    bottom: 4.375rem;
  }
}

@media (max-width: 767px) {
  .scroll-top {
    left: 50%;
    bottom: 105px;
    right: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
  }
}

.scroll-top:hover {
  border-color: #ef5fa2;
}

.scroll-top:hover p {
  color: #ef5fa2;
}

.scroll-top img {
  margin-top: 8px;
  margin-bottom: 3px;
}

.scroll-top p {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #9D9EAE;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* End Scroll-To-Top */
/*# sourceMappingURL=style.css.map */