$primaryColor: #ef5fa2;
$secondaryColor: #2A338F;
$floatLeft: right;
$floatRight: left;
$textRight: left;
$textLeft: right;
$desktop: "(max-width: 1366px)";
$mobile:"(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 992px)";
$maxTab: "(max-width: 992px)";
$betweentabdesk: "(min-width: 1000px) and (max-width: 1200px)";
$mobileWidth: "(min-width: 640px) and (max-width: 840px)";
$iphone6_7: "(min-width: 650px) and (max-width: 750px)";

@import "rem-sass";

body {
  text-align: right;
  font-family: "DinNext";
}

// header
header {
  .navbar {
    .navbar-nav {
      @media #{$iphone6_7} {
        text-align: $textLeft;
      }
    }
  }
}

.call-to-action {
  @media #{$mobile} {
    .start-diet {
      float: none !important;
    }
  }

  .navbar-brand {
    float: $floatLeft;
  }

  .start-diet {
    float: $floatRight;
  }
}

/* Start showcase */
.showcase {
  &:after {
    transform: scaleX(-1);
  }

  .showcase-content {
    .showcase-title {
      font-size: 4rem;

      @media #{$mobile} {
        font-size: 28px;
      }
    }

    .showcase-desc {
      @media #{$mobile} {
        width: 90%;
      }
    }

    .showcase-list li {
      @media #{$mobile} {
        padding-right: 20px;
      }

      i {
        margin-right: 0;
        margin-left: 6px;
      }

      @media #{$mobile} {
        text-align: $textLeft;
      }

    }

    .showcase-btn {
      @media #{$iphone6_7} {
        text-align: $textLeft;
      }
    }
  }
}

/* End showcase */

/* Start empathy pink */
.empathy,
.empathy-blue {
  .empathy-btn {
    text-align: $textRight;

    @media #{$mobile} {
      text-align: center;
    }
  }
}

/* End empathy pink */

/* Start Cards */
.cards {
  .card-item {
    .icon {
      margin-left: rem(15px);
      margin-right: 0;

      @media #{$mobile} {
        margin-left: 15px;
      }
    }
  }
}

/* End Cards */

/* Start tailored Plan */
.tailored-plan {
  .left-content {

    a {
      padding: rem(22px 40px 22px 60px);

      @media #{$mobile} {
        padding: 12px 30px 12px 55px;
      }

      i {
        left: 30px;
        right: auto;
      }

      &:hover {

        i {
          left: 25px;

        }
      }
    }
  }

  .right-content {


    .diet-plan {
      .diet-plan-header {


        h3 {
          margin-left: 0;
          margin-right: 5px;
        }

        .arrows {
          position: absolute;
          top: 0;
          right: auto;
          left: 80px;

          @media #{$mobile} {
            right: auto;
            left: 10px;
            top: -10px;
            transform: scale(0.75);
          }

          @media #{$tablet} {
            right: auto;
            left: 180px;
          }
        }

      }

      .diet-slider {
        .diet {

          &.active {
            @media #{$mobile} {
              transform: scale(0.8) translate(0) !important;
              z-index: 10 !important;
            }

          }

          &.one {
            @media #{$mobile} {
              transform: scale(0.8) translate(0);
            }
          }

          &.two {
            transform: scale(0.9) translate(-70px);

            @media #{$mobile} {
              transform: scale(0.7) translate(-45px)
            }

          }

          &.three {
            transform: scale(0.8) translate(-145px);

            @media #{$mobile} {
              transform: scale(0.6) translate(-100px)
            }
          }
        }
      }
    }
  }
}

/* End tailored Plan */

/* Start Keep Tracking */
.keep-tracking {
  .keep-tracking-content {
    img {
      @media #{$mobile} {
        margin-left: 0;
        margin-right: -15px;
      }
    }
  }

  .keep-tracking-img {
    .iphone {
      @media #{$mobile} {
        left: 65.5%;
      }

      @media #{$tablet} {
        left: 0;
        right: 30px;
      }
    }
  }
}

/* End Keep Tracking */

/* Start on The Medi */
.on-the-media {
  p {
    text-align: $textLeft;
  }
}

/* End on The Medi */

/* Start prices */
.prices {

  .price-plan {


    .price-item {
      .dollar {
        // left: 30%;
      }
    }

    .features {
      padding-left: 0;
      padding-right: 30px;

      li {
        text-align: $textLeft;

        i {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }

  }
}

/* End prices */

/* Start Ideal Body Weight */
.body-weight {

  .triangle {
    transform: translate(-50%, -50%) rotate(180deg);

    @media #{$maxTab} {
      transform: translatex(40%) rotate(90deg);
      left: auto;
      right: 50%;
    }
  }

  .instadiet-analysis {

    .front {

      h3 {


        img {
          margin: 16px 32px 16px 8px;
        }
      }

      .bmi {
        .bmi-bar {
          span {
            float: $floatLeft;
          }

          .one {
            border-radius: 0 5px 5px 0;
          }

          .five {
            border-radius: 5px 0 0 5px;
          }
        }

        .indicator {
          right: auto;
          left: 20%;

          &:before {
            right: auto;
            left: 60%;
          }

          &:after {
            right: auto;
            left: 36%;
            text-align: $textRight;
            background-position: 40px center;
          }
        }

      }

      .tips {
        padding-left: 0;
        padding-right: 50px;

        ul {
          li {
            padding-left: 0;
            padding-right: 23px;

            &:before {
              left: auto;
              right: 0;
            }

            img {
              margin-right: 0;
              margin-left: 6px;
            }
          }
        }

        .tips-btn {
          #convertToForm {
            @media #{$mobile} {
              width: 65%;
            }

          }
        }
      }
    }
  }
}

/* End Ideal Body Weight */


/* Start FAQ */
#faq {

  .faq-left-side,
  .faq-right-side {
    li {
      h3 {
        padding-left: 0;
        padding-right: rem(24px);

        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

/* End FAQ */

/* Start Footer */
#main-footer {

  @media #{$mobile} {
    text-align: $textLeft;
  }

  .contact {
    li {

      &:nth-child(1) {
        img {
          margin-right: 0;
          margin-left: 10px;
        }
      }

      &:nth-child(2) {
        img {
          right: 0;
          left: 5px;
        }

        a {
          margin-right: 0px;
        }
      }

      &.location {
        img {
          float: $floatLeft;
          margin-right: 0;
          margin-left: 15px;

          @media #{$mobile} {
            padding-top: 10px;
          }
        }

        p {
          float: $floatLeft;

          @media #{$mobile} {
            text-align: $textLeft;
          }
        }
      }
    }
  }

  form {
    padding-left: 0;
    padding-right: rem(24px);


    @media #{$betweentabdesk} {
      padding-right: rem(10px);
    }

    button[type="submit"] {
      float: $floatRight;
    }
  }

  .social-icons {
    li {
      &:not(:last-child) {
        margin-right: 0;
        margin-left: rem(15px);
      }
    }
  }

  .copyright {

    p {
      text-align: $textRight;

      @media #{$mobile} {
        text-align: center;
      }
    }
  }
}

/* End Footer */

.scroll-top {

  @media #{$maxTab} {
    left: auto;
    right: 50%;
    bottom: 105px;
    transform: translateX(50%);
    position: absolute;
  }

  @media #{$tablet} {
    bottom: 70px;
  }

}